@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: rgb(33, 32, 30);
  text-align: center;
}

header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f5f5f5;
  width: 85%;
  margin: 0 auto;
}
header nav h2 {
  text-transform: none;
  font-family: "Allura", sans-serif;
  font-size: 3rem;
}
header nav .nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  width: 95%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header nav .nav-text {
    display: none;
  }
}
header nav .nav-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  header nav .nav-text ul {
    display: none;
  }
}
header nav .nav-text li {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
  color: #f5f5f5;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgb(130, 101, 0)), color-stop(50%, rgb(130, 101, 0)), color-stop(50%, #f5f5f5));
  background: linear-gradient(to right, rgb(130, 101, 0), rgb(130, 101, 0) 50%, #f5f5f5 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}
header nav .nav-text li:hover {
  cursor: pointer;
  background-position: 0 100%;
}
header nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5% 0;
  width: 10%;
}
@media screen and (max-width: 767px) {
  header nav .nav-logo {
    width: 100%;
  }
}
header nav .nav-logo .fb:hover {
  color: rgb(24, 119, 242);
}
header nav .nav-logo .x:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header nav .nav-logo .insta:hover {
  color: rgb(154, 52, 174);
}
header nav .nav-logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header nav .nav-logo a {
  color: #f5f5f5;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header nav .nav-logo a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .header-main {
  padding: 100px 0;
}
header .header-main h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #f5f5f5;
  letter-spacing: 20px;
  font-size: 4rem;
}
header .header-main p:nth-child(1) {
  color: rgb(130, 101, 0);
  font-family: "Allura", sans-serif;
  font-size: 4rem;
  letter-spacing: 0;
  text-transform: none;
}
header .header-main img {
  padding: 15px;
}
header .header-main p {
  padding: 10px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
}

.section-one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 500px;
}
.section-one-container .section-one-left {
  width: 50%;
  background: #f5f5f5;
  min-height: 500px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .section-one-container .section-one-left {
    width: 100%;
  }
}
.section-one-container .section-one-left .section-one-left-container {
  position: relative;
  border: 1px dashed rgb(130, 101, 0);
  min-height: 500px;
}
.section-one-container .section-one-left .section-one-left-container h4 {
  color: rgb(130, 101, 0);
  font-family: "Allura", sans-serif;
  font-size: 3rem;
}
.section-one-container .section-one-left .section-one-left-container h3 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
  font-size: 3rem;
}
.section-one-container .section-one-left .section-one-left-container p {
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  color: rgb(159, 159, 158);
  font-size: 1.1rem;
}
.section-one-container .section-one-left .section-one-left-container img {
  padding: 10px;
  border-radius: 100px;
}
.section-one-container .section-one-left .section-one-left-container h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 1%;
}
.section-one-container .section-one-left .section-one-left-container h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(159, 159, 158);
  font-size: 0.7rem;
}
.section-one-container .section-one-right {
  width: 50%;
  background: url(/assets/img/store-01.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .section-one-container .section-one-right {
    display: none;
  }
}

.section-menu-container {
  position: relative;
  min-height: 1100px;
}
.section-menu-container::after {
  content: "";
  position: absolute;
  background: url(/assets/img/bg-menu-01.jpg) no-repeat center;
  top: 30%;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}
.section-menu-container h3 {
  color: rgb(130, 101, 0);
  font-family: "Allura", sans-serif;
  font-size: 2rem;
  padding: 2.5%;
}
.section-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  padding: 2.5em;
}
@media screen and (max-width: 767px) {
  .section-menu-container ul {
    width: 100%;
    font-size: 0.8rem;
  }
}
.section-menu-container li {
  cursor: pointer;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(130, 101, 0)), color-stop(50%, rgb(130, 101, 0)), color-stop(50%, #f5f5f5));
  background-image: linear-gradient(to right, rgb(130, 101, 0), rgb(130, 101, 0) 50%, #f5f5f5 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .section-menu-container li {
    font-size: 1rem;
  }
}
.section-menu-container li::before {
  content: "";
  background: rgb(130, 101, 0);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-menu-container li:hover {
  background-position: 0;
}
.section-menu-container li:hover::before {
  width: 100%;
}
.section-menu-container .menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "on tw";
  width: 60%;
  margin: 0 auto;
  background: #f5f5f5;
  min-height: 750px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .section-menu-container .menu-container {
    width: 80%;
    display: block;
  }
}
.section-menu-container .menu-container::before {
  content: "";
  position: absolute;
  border-top: 5px solid rgb(130, 101, 0);
  top: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .section-menu-container .menu-container::before {
    display: none;
  }
}
.section-menu-container .menu-container p {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}
.section-menu-container .menu-container img {
  border-radius: 100px;
}
.section-menu-container .menu-container .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  width: 100%;
  position: relative;
}
.section-menu-container .menu-container .feed::after {
  content: "";
  position: absolute;
  border-bottom: 1px dashed rgb(130, 101, 0);
  width: 85%;
  bottom: 2%;
}
.section-menu-container .menu-container .feed span {
  color: rgb(130, 101, 0);
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
.section-menu-container .menu-container .feed .feed-text {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.section-menu-container .menu-container .feed .feed-text h5 {
  text-transform: uppercase;
  padding: 0 5%;
  font-weight: 400;
  font-size: 1rem;
}
.section-menu-container .menu-container .feed .feed-text p {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  width: 75%;
  margin: 0 auto;
}

.section-reservation-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 5% 0;
  width: 85%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .section-reservation-container {
    display: block;
  }
}
.section-reservation-container .section-reservation-left {
  background-color: black;
}
.section-reservation-container .section-reservation-left .left-container {
  margin: 10%;
  border: 1px dashed #f5f5f5;
}
@media screen and (max-width: 767px) {
  .section-reservation-container .section-reservation-left .left-container {
    margin: 0 auto;
  }
}
.section-reservation-container .section-reservation-left .left-container h4 {
  color: rgb(130, 101, 0);
  font-family: "Allura", sans-serif;
  font-size: 4rem;
}
.section-reservation-container .section-reservation-left .left-container h3 {
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.section-reservation-container .section-reservation-left .left-container img {
  padding: 5% 0;
}
.section-reservation-container .section-reservation-left .left-container h5 {
  color: rgb(130, 101, 0);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 5% 0;
}
.section-reservation-container .section-reservation-left .left-container p {
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
.section-reservation-container .section-reservation-right {
  background: #f5f5f5;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 0;
}
.section-reservation-container .section-reservation-right h4 {
  color: rgb(130, 101, 0);
  font-family: "Allura", sans-serif;
  font-size: 3rem;
}
.section-reservation-container .section-reservation-right h3 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  padding-bottom: 2%;
}
.section-reservation-container .section-reservation-right img {
  padding-bottom: 2%;
}
.section-reservation-container .section-reservation-right .section-right-form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "se in in" "in in in" "bu bu bu";
  width: 95%;
  margin: 0 5%;
  min-height: 150px;
}
.section-reservation-container .section-reservation-right .section-right-form form select {
  width: 200px;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  border-bottom: 1px solid rgb(159, 159, 158);
  outline: none;
  width: 100%;
}
.section-reservation-container .section-reservation-right .section-right-form form input {
  outline: none;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  border-bottom: 1px solid rgb(159, 159, 158);
}
.section-reservation-container .section-reservation-right .section-right-form button {
  width: 175px;
  height: 50px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  background-color: black;
  color: #f5f5f5;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 5%;
}
.section-reservation-container .section-reservation-right .section-right-form button:hover {
  color: black;
  background-color: rgb(130, 101, 0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .section-event {
    display: none;
  }
}
.section-event .event-text h3 {
  font-family: "Allura", sans-serif;
  color: rgb(130, 101, 0);
  font-size: 3rem;
}
.section-event .event-text h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #f5f5f5;
  padding-bottom: 2.5%;
}
.section-event .event-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: 0 auto;
  min-height: 500px;
  padding: 2.5% 0 0 0;
}
.section-event .event-container .sectoin-event-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "le" "se";
}
.section-event .event-container .sectoin-event-left .event-left-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-first .left-side {
  background: url(/assets/img/event-01.jpg);
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 100%;
}
.section-event .event-container .sectoin-event-left .event-left-first .left-side .left-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 47%;
  width: 50%;
  margin: 0 auto;
  background: rgb(33, 32, 30);
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.section-event .event-container .sectoin-event-left .event-left-first .right-side {
  background-color: #f5f5f5;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-event .event-container .sectoin-event-left .event-left-first .right-side h4 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-first .right-side p {
  color: rgb(159, 159, 158);
  letter-spacing: 1px;
  padding: 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-first .right-side a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-first .right-side a:hover {
  color: rgb(130, 101, 0);
}
.section-event .event-container .sectoin-event-left .event-left-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 2.5% 0 0 0;
}
.section-event .event-container .sectoin-event-left .event-left-second .left-side {
  background: url(/assets/img/event-02.jpg);
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 100%;
}
.section-event .event-container .sectoin-event-left .event-left-second .left-side .left-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 50%;
  margin: 0 auto;
  background: rgb(33, 32, 30);
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.section-event .event-container .sectoin-event-left .event-left-second .right-side {
  background-color: #f5f5f5;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-event .event-container .sectoin-event-left .event-left-second .right-side h4 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-second .right-side p {
  color: rgb(159, 159, 158);
  letter-spacing: 1px;
  padding: 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-second .right-side a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 2.5% 0;
}
.section-event .event-container .sectoin-event-left .event-left-second .right-side a:hover {
  color: rgb(130, 101, 0);
}
.section-event .event-container .section-event-right {
  background: url(/assets/img/event-03.jpg);
  background-position: center;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  padding: 3%;
}
.section-event .event-container .section-event-right .event-right-container {
  height: 100%;
  width: 97%;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.section-event .event-container .section-event-right .event-right-container .carre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 27%;
  width: 25%;
  margin: 0 auto;
  background: rgb(33, 32, 30);
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.section-event .event-container .section-event-right .event-right-container .reste {
  background-color: #f5f5f5;
  padding: 10% 0 0;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-event .event-container .section-event-right .event-right-container .reste h4 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 2.5% 0;
}
.section-event .event-container .section-event-right .event-right-container .reste p {
  color: rgb(159, 159, 158);
  letter-spacing: 1px;
  padding: 2.5% 0;
}
.section-event .event-container .section-event-right .event-right-container .reste a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 2.5% 0;
}
.section-event .event-container .section-event-right .event-right-container .reste a:hover {
  color: rgb(130, 101, 0);
}

.avis {
  position: relative;
  min-height: 800px;
}
.avis::after {
  content: "";
  position: absolute;
  background: url(/assets/img/gmap.jpg) no-repeat center;
  top: 35%;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}
.avis .section-avis {
  width: 85%;
  margin: 0 auto;
  padding-top: 10%;
}
.avis .section-avis blockquote {
  background-color: #f5f5f5;
  min-height: 350px;
  position: relative;
}
.avis .section-avis blockquote img {
  width: 70px;
  border-radius: 100px;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.avis .section-avis blockquote .container-block {
  padding-top: 120px;
  width: 75%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}
.avis .section-avis blockquote .container-block h6 {
  color: rgb(130, 101, 0);
  font-size: 1.2rem;
}
.avis .section-avis blockquote .container-block h3 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.footer-container {
  background: url(/assets/img/bg-footer.jpg);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
}
.footer-container .footer-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer-container .footer-left {
    width: 100%;
  }
}
.footer-container .footer-left h2 {
  color: rgb(130, 101, 0);
  font-family: "Allura", sans-serif;
  font-size: 3rem;
}
.footer-container .footer-left p {
  width: 60%;
  margin: 0 auto;
  line-height: 2;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
.footer-container .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .footer-container .footer-right {
    width: 100%;
  }
}
.footer-container .footer-right label {
  color: #f5f5f5;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 7.5%;
}
@media screen and (max-width: 767px) {
  .footer-container .footer-right label {
    margin-top: 2%;
    color: rgb(130, 101, 0);
    padding-bottom: 3%;
  }
}
.footer-container .footer-right input {
  background: none;
  text-align: center;
  width: 250px;
  height: 30px;
  border: 1px solid rgb(159, 159, 158);
  margin: 0 auto;
  outline: none;
}
.footer-container .footer-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10%;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer-container .footer-right ul {
    padding-top: 5%;
  }
}
.footer-container .footer-right ul span {
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: default;
}
.footer-container .footer-right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: rgb(159, 159, 158);
}
.footer-container .footer-right ul li:hover:first-child {
  -webkit-transform: none;
          transform: none;
}
.footer-container .footer-right ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}/*# sourceMappingURL=index.css.map */
